@model AdminMensajeria.Models.GEN_UNIDAD

@{
    ViewBag.Title = "Unidad";
}


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <div class="field">
                @Html.EditorFor(model => model.DescripcionUnidad, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Pieza", @Maxlength = 50 } })
                <label for="DescripcionUnidad">Descripción (*)</label>
            </div>
            <span class="AlertaDanger" id="DescripcionUnidadVal"></span>
        </div>
        <div class="col-md-6">
            <div class="field">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "H7", @Maxlength = 50 } })
                <label for="Codigo">Código</label>
            </div>
            <span class="AlertaDanger" id="CodigoVal"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <div class="field">
                @Html.EditorFor(model => model.Simbolo, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Pieza", @Maxlength = 50 } })
                <label for="Simbolo">Símbolo</label>
            </div>
            <span class="AlertaDanger" id="SimboloVal"></span>
        </div>
        <div class="col-md-6">
            <div class="field">
                @Html.EditorFor(model => model.EstatusUnidad)
                <label for="EstatusUnidad">Activo</label>
            </div>
            <span class="AlertaDanger" id="EstatusUnidadVal"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button id="ValidaUnidad" type="button" class="btn btn-primary btn-sm ">
                <span class="glyphicon glyphicon-floppy-disk"></span> Crear
            </button>
        </div>
        <div class="col-md-7">
            <span class="AlertaDanger" id="MensajeError"></span>
        </div>
        <div id="VolverCliente" class="col-md-2">
            <a href="@Url.Action("Index","Unidad")" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-floppy-remove"></span> Cancelar
            </a>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#DescripcionUnidad").keyup(function () {
            $("#DescripcionUnidadVal").html('');
        });

        $("#Codigo").keyup(function () {
            $("#CodigoVal").html('');
        });

        $("#Simbolo").keyup(function () {
            $("#SimboloVal").html('');
        });

        ///////////////////////////////////////////////////////////////
        $("#ValidaUnidad").click(function () {
            var IdUnidad = null;
            var DescripcionUnidad = $("#DescripcionUnidad").val();
            var Codigo = $("#Codigo").val();
            var Simbolo = $("#Simbolo").val();
            var EstatusUnidad = $("#EstatusUnidad").prop("checked");


            ///////////////////////////////////////////////////////////
            if ($("#DescripcionUnidad").val().length === 0) {
                $("#DescripcionUnidadVal").html('');
                $("#DescripcionUnidadVal").append('Este Campo es Obligatorio');
            }

            if ($("#DescripcionUnidad").val().length > 50) {
                $("#DescripcionUnidadVal").html('');
                $("#DescripcionUnidadVal").append('Este Campo es puede contener maximo 50 caracteres');
            }

            if ($("#Codigo").val().length > 50) {
                $("#CodigoVal").html('');
                $("#CodigoVal").append('Este Campo es puede contener maximo 50 caracteres');
            }

            if ($("#Simbolo").val().length > 50) {
                $("#SimboloVal").html('');
                $("#SimboloVal").append('Este Campo es puede contener maximo 50 caracteres');
            }

            //Primero Valida que los campos que siempre van a ser obligatorios//
            if ($("#DescripcionUnidad").val().length != 0 && $("#DescripcionUnidad").val().length <= 50 &&
                $("#Codigo").val().length <= 50 && $("#Simbolo").val().length <= 50) {

                //inserta sin validar la fecha de egreso//
                $.ajax({
                    url: '@Url.Action("CreateUnidad", "Unidad")',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        "IdUnidad": IdUnidad,
                        "DescripcionUnidad": DescripcionUnidad,
                        "Codigo": Codigo,
                        "Simbolo": Simbolo,
                        "EstatusUnidad": EstatusUnidad
                    }),
                    success: function (data) {
                        if (data.Result == true) {
                            window.location = '@Url.Action("Index", "Unidad")';
                        }
                        else {
                            $("#MensajeError").html('');
                            $("#MensajeError").append(data.Mensaje);
                        }
                    },
                    error: function () {
                        console.log("No pudo acceder al Metodo");
                    }
                });
            }
            else {
                console.log("No se cumplio la validación de datos");
            }
        });
    });

</script>