@model AdminMensajeria.Models.GEN_UNIDAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GEN_UNIDAD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Simbolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Simbolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusUnidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUnidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
