@using (AdminMensajeria.Models.MensajeriaEntities db = new AdminMensajeria.Models.MensajeriaEntities())
{
    ViewBag.Title = "Index";

    int IdUsu = ViewBag.idusuario;
    int TipoUsu = ViewBag.tipousuario;
    DateTime Desde = ViewBag.desde;
    DateTime Hasta = ViewBag.hasta;
    bool ctrlFolio = (from u in db.SIS_CONFIG where u.IdConfig == 1 select u.AplicaConfig).FirstOrDefault();
    int i = 0;


    var Solicitudes = (from c in db.VIEW_REPORTE
                       select c).Take(1).ToList().OrderByDescending(x => x.NoEnvio);

    if (TipoUsu == 1)
    {
        Solicitudes = (from c in db.VIEW_REPORTE
                       where c.FechaCreacion >= Desde && c.FechaCreacion < Hasta
                       select c).ToList().OrderByDescending(x => x.NoEnvio);
    }
    else
    {
        Solicitudes = (from c in db.VIEW_REPORTE
                       where c.IdUsuario == IdUsu && c.FechaCreacion >= Desde && c.FechaCreacion < Hasta
                       select c).ToList().OrderByDescending(x => x.NoEnvio);
    }

    decimal Total = Solicitudes.Where(x => x.EstatusCumplimiento == 2 || x.EstatusCumplimiento == 5 || x.EstatusCumplimiento == 6).Count();
    decimal Devueltos = Solicitudes.Where(x => x.EstatusCumplimiento == 2).Count();
    decimal Eficientes = Solicitudes.Where(x => x.EstatusCumplimiento == 5).Count();
    decimal Noeficientes = Solicitudes.Where(x => x.EstatusCumplimiento == 6).Count();
    decimal PorcentEficiente;
    decimal PorcentNoeficiente;

    if (Devueltos > 0)
    {
        PorcentEficiente = ((Devueltos + Eficientes) * 100) / Total;
    }
    else
    {
        PorcentEficiente = 100;
    }

    if (Noeficientes > 0)
    { PorcentNoeficiente = (Noeficientes * 100) / Total; }
    else
    {
        PorcentNoeficiente = 0;
    }



    <script src="~/Scripts/table2excel.js"></script>
    <a id="ExportarReporte" class="btn btn-default btn-sm" data-toggle="tooltip" title="Exportar a Excel">
        <span class="glyphicon glyphicon-cloud-download"></span> Excel
    </a>

    if (ctrlFolio)
    {
        <table id="ReportTable" class="ui celled table compact" style="font-size:8px">
            <thead>
                <tr>
                    <th>Envío</th>
                    <th>Folio</th>
                    <th>Estatus</th>
                    <th>F. Creación</th>
                    <th>Solicitante</th>
                    <th>Descripción</th>
                    <th>R.M. Fecha</th>
                    <th>R.M. Receptor</th>
                    <th class="col-md-1">R. Descripción</th>
                    <th>R. Contacto</th>
                    <th>R. Dirección</th>
                    <th>R. Observación</th>
                    <th>E. Grupo</th>
                    <th>E. Destino</th>
                    <th>E. Descripción</th>
                    <th>E. Destinatario</th>
                    <th>E. Contacto</th>
                    <th>E. Dirección</th>
                    <th>E. Observación</th>
                    <th>E.F. Estimada</th>
                    <th>E.F. Asignada</th>
                    <th>E. Mensajero</th>
                    <th>E. Referencia</th>
                    <th>E.F. Entrega</th>
                    <th>M. Devolucion</th>
                    <th>Cumplimiento</th>
                    <th></th>
                    <th>Tot. Envios  Realizados</th>
                    <th>Tot. Devoluciones</th>
                    <th>Tot. Eficientes</th>
                    <th>Tot. No Eficientes</th>
                    <td></td>
                    <td>Porcentaje de Eficiencia</td>
                    <td>Porcentaje de no Eficiencia</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Solicitudes)
                {
                    i++;
                    <tr>
                        <td>@item.NoEnvio</td>
                        <td>@item.Folio</td>
                        <td>
                            @switch (item.Estatus)
                            {
                                case 1:<p>Generada</p>; break;
                                case 2: <p>Recibido en Mensajería</p>; break;
                                case 3: <p>En ruta</p>; break;
                                case 4: <p>Entregado</p>; break;
                                case 5: <p>Cancelado</p>; break;
                                default:
                                    break;
                            }
                        </td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaCreacion)</td>
                        <td>@item.Solicitante</td>
                        <td>@item.Producto</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaRecepcion)</td>
                        <td>@item.Receptor</td>
                        <td>@item.DescripcionRemitente</td>
                        <td>@item.ContactoRemitente</td>
                        <td>@item.CalleRemitente, @item.NoExtRemitente, @item.NointRemitente, @item.ColoniaRemitente, @item.CodigoPostalRemitente, @item.MunicipioRemitente, @item.EstadoRemitente, @item.PaisRemitente, @item.ReferenciaRemitente </td>
                        <td>@item.ObsRemitente</td>
                        <td>@item.CategoriaEntrega</td>
                        <td>@item.RazonSocialEntrega</td>
                        <td>@item.DescripcionEntrega</td>
                        <td>@item.DestinatarioEntrega</td>
                        <td>@item.ContactoEntrega</td>
                        @if (item.DirecionCompletaEntrega != null)
                        {
                            <td>@item.DirecionCompletaEntrega</td>
                        }
                        else
                        {
                            <td>@item.CalleEntrega, @item.NoExtEntrega, @item.NointEntrega, @item.ColoniaEntrega, @item.CodigoPostalEntrega, @item.MunicipioEntrega, @item.EstadoEntrega, @item.PaisEntrega, @item.ReferenciaEntrega</td>
                        }
                        <td>@item.ObsEntrega</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaEntregaEstimada)</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaAsignada)</td>
                        <td>@item.MensajeroAsignado</td>
                        <td>@item.ReferenciaExterna</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaEntrega)</td>
                        <td>@item.MotivoDevolucion</td>
                        <td>
                            @switch (@item.EstatusCumplimiento)
                            {
                                case 1:<p>No Aplica</p>; break;
                                case 2: <p>Devuelto</p>; break;
                                case 3: <p>Pendiente</p>; break;
                                case 4: <p>Cancelada</p>; break;
                                case 5: <p>Eficiente</p>; break;
                                case 6: <p>No Eficiente</p>; break;
                                default:
                                    break;
                            }
                        </td>
                        <td></td>
                        @if (i == 1)
                        {
                            <th>@Total</th>
                            <th>@Devueltos</th>
                            <th>@Eficientes</th>
                            <th>@Noeficientes</th>
                            <th></th>
                            <th>@decimal.Round(PorcentEficiente, 2)</th>
                            <th>@decimal.Round(PorcentNoeficiente, 2)</th>
                        }
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <table id="ReportTable" class="ui celled table compact" style="font-size:8px">
            <thead>
                <tr>
                    <th>Envío</th>
                    <th>Estatus</th>
                    <th>F. Creación</th>
                    <th>Solicitante</th>
                    <th>Descripción</th>
                    <th>R.M. Fecha</th>
                    <th>R.M. Receptor</th>
                    <th class="col-md-1">R. Descripción</th>
                    <th>R. Contacto</th>
                    <th>R. Dirección</th>
                    <th>R. Observación</th>
                    <th>E. Grupo</th>
                    <th>E. Destino</th>
                    <th>E. Descripción</th>
                    <th>E. Destinatario</th>
                    <th>E. Contacto</th>
                    <th>E. Dirección</th>
                    <th>E. Observación</th>
                    <th>E.F. Estimada</th>
                    <th>E.F. Asignada</th>
                    <th>E. Mensajero</th>
                    <th>E. Referencia</th>
                    <th>E.F. Entrega</th>
                    <th>M. Devolucion</th>
                    <th>Cumplimiento</th>
                    <th></th>
                    <th>Tot. Envios  Realizados</th>
                    <th>Tot. Devoluciones</th>
                    <th>Tot. Eficientes</th>
                    <th>Tot. No Eficientes</th>
                    <td></td>
                    <td>Porcentaje de Eficiencia</td>
                    <td>Porcentaje de no Eficiencia</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Solicitudes)
                {
                    i++;
                    <tr>
                        <td>@item.NoEnvio</td>
                        <td>
                            @switch (item.Estatus)
                            {
                                case 1:<p>Generada</p>; break;
                                case 2: <p>Recibido en Mensajería</p>; break;
                                case 3: <p>En ruta</p>; break;
                                case 4: <p>Entregado</p>; break;
                                case 5: <p>Cancelado</p>; break;
                                default:
                                    break;
                            }
                        </td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaCreacion)</td>
                        <td>@item.Solicitante</td>
                        <td>@item.Producto</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaRecepcion)</td>
                        <td>@item.Receptor</td>
                        <td>@item.DescripcionRemitente</td>
                        <td>@item.ContactoRemitente</td>
                        <td>@item.CalleRemitente, @item.NoExtRemitente, @item.NointRemitente, @item.ColoniaRemitente, @item.CodigoPostalRemitente, @item.MunicipioRemitente, @item.EstadoRemitente, @item.PaisRemitente, @item.ReferenciaRemitente </td>
                        <td>@item.ObsRemitente</td>
                        <td>@item.CategoriaEntrega</td>
                        <td>@item.RazonSocialEntrega</td>
                        <td>@item.DescripcionEntrega</td>
                        <td>@item.DestinatarioEntrega</td>
                        <td>@item.ContactoEntrega</td>
                        @if (item.DirecionCompletaEntrega != null)
                        {
                            <td>@item.DirecionCompletaEntrega</td>
                        }
                        else
                        {
                            <td>@item.CalleEntrega, @item.NoExtEntrega, @item.NointEntrega, @item.ColoniaEntrega, @item.CodigoPostalEntrega, @item.MunicipioEntrega, @item.EstadoEntrega, @item.PaisEntrega, @item.ReferenciaEntrega</td>
                        }
                        <td>@item.ObsEntrega</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaEntregaEstimada)</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaAsignada)</td>
                        <td>@item.MensajeroAsignado</td>
                        <td>@item.ReferenciaExterna</td>
                        <td>@AdminMensajeria.Clases.helper.DateTimeToString(item.FechaEntrega)</td>
                        <td>@item.MotivoDevolucion</td>
                        <td>
                            @switch (@item.EstatusCumplimiento)
                            {
                                case 1:<p>No Aplica</p>; break;
                                case 2: <p>Devuelto</p>; break;
                                case 3: <p>Pendiente</p>; break;
                                case 4: <p>Cancelada</p>; break;
                                case 5: <p>Eficiente</p>; break;
                                case 6: <p>No Eficiente</p>; break;
                                default:
                                    break;
                            }
                        </td>
                        <td></td>
                        @if (i == 1)
                        {
                            <th>@Total</th>
                            <th>@Devueltos</th>
                            <th>@Eficientes</th>
                            <th>@Noeficientes</th>
                            <th></th>
                            <th>@decimal.Round(PorcentEficiente, 2)</th>
                            <th>@decimal.Round(PorcentNoeficiente, 2)</th>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <script>
        $("#ExportarReporte").click(function () {
            var FechaDesde = $("#FechaDesde").val();
            var FechaHasta = $("#FechaHasta").val();

            $("#ReportTable").table2excel({
                filename: 'Reporte_Concentrado_' + FechaDesde + '_a_' + FechaHasta + '.xls'
            });
        });
    </script>

 
}
