@using (AdminMensajeria.Models.MensajeriaEntities db = new AdminMensajeria.Models.MensajeriaEntities())
{
    ViewBag.Title = "Index";

    int IdUsu = ViewBag.idusuario;
    int TipoUsu = ViewBag.tipousuario;
    DateTime Desde = ViewBag.desde;
    DateTime Hasta = ViewBag.hasta;
    bool ctrlFolio = (from u in db.SIS_CONFIG where u.IdConfig == 1 select u.AplicaConfig).FirstOrDefault();


    var Solicitudes = (from c in db.OPE_SOLICITUD
                       join p2 in db.OPE_SOLICITUDPRODUCTO on c.IdSolicitud equals p2.IdSolicitud into p1
                       from p in p1.DefaultIfEmpty()

                       select new { c.IdSolicitud, c.Folio, c.FechaCreacion, c.RequiereAcuse, c.EstatusSolicitud, p.Descripcion }).Take(1).ToList();

    if (TipoUsu == 1)
    {
        Solicitudes = (from c in db.OPE_SOLICITUD
                       join p2 in db.OPE_SOLICITUDPRODUCTO on c.IdSolicitud equals p2.IdSolicitud into p1
                       from p in p1.DefaultIfEmpty()
                       where c.FechaCreacion >= Desde && c.FechaCreacion < Hasta
                       select new { c.IdSolicitud, c.Folio, c.FechaCreacion, c.RequiereAcuse, c.EstatusSolicitud, p.Descripcion }).ToList();
    }
    else
    {
        Solicitudes = (from c in db.OPE_SOLICITUD
                       join p2 in db.OPE_SOLICITUDPRODUCTO on c.IdSolicitud equals p2.IdSolicitud into p1
                       from p in p1.DefaultIfEmpty()
                       where c.IdUsuario == IdUsu && c.FechaCreacion >= Desde && c.FechaCreacion < Hasta
                       select new { c.IdSolicitud, c.Folio, c.FechaCreacion, c.RequiereAcuse, c.EstatusSolicitud, p.Descripcion }).ToList();
    }

    if (ctrlFolio)
    {
        <table id="SolicitudTable" class="ui celled table compact">
            <thead>
                <tr>
                    <th>
                        # Envío
                    </th>
                    <th>
                        Folio
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha de Creación
                    </th>
                    <th>
                        Requiere Acuse
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Solicitudes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSolicitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Folio)
                        </td>

                        <td>@item.Descripcion</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequiereAcuse)
                        </td>
                        <td>
                            @switch (item.EstatusSolicitud)
                            {
                                case 1: <p>Generada</p>; break;
                                case 2: <p>Recibido en Mensajería</p>; break;
                                case 3: <p>En ruta</p>; break;
                                case 4: <p>Entregado</p>; break;
                                case 5: <p>Cancelado</p>; break;
                                default:
                                    break;
                            }
                        </td>
                        <td class="col-md-2">

                            <a href="@Url.Action("Details", "Solicitud", new { id = item.IdSolicitud })" data-toggle="tooltip" title="Detalles de Envío" class="btn btn-default btn-sm">
                                <span class='glyphicon glyphicon-list-alt'></span>
                            </a>
                            <button onclick="RastrearEnvio(@item.IdSolicitud)" data-toggle="tooltip" title="Rastrear de Envío" class="btn btn-default btn-sm">
                                <span class='glyphicon glyphicon-search'></span>
                            </button>
                            <button onclick="CancelarEnvio(@item.IdSolicitud)" data-toggle="tooltip" title="Cancelar Envío" class="btn btn-danger btn-sm">
                                <span class='glyphicon glyphicon-remove-sign'></span>
                            </button>
                            @if (TipoUsu == 1)
                        {
                                <button onclick="Entrega(@item.IdSolicitud)" data-toggle="tooltip" title="Reportar Entrega" class="btn btn-success btn-sm">
                                    <span class='glyphicon glyphicon-ok-sign'></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
    <table id="SolicitudTable" class="ui celled table compact">
        <thead>
            <tr>
                <th>
                    # Envío
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Fecha de Creación
                </th>
                <th>
                    Requiere Acuse
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Solicitudes)
            {
                //var Producto = (from p in db.OPE_SOLICITUDPRODUCTO where p.IdSolicitud == item.IdSolicitud select p.Descripcion).FirstOrDefault();

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSolicitud)
                    </td>
                    <td>@item.Descripcion</td>
                    @*@if (Producto != null)
                        {
                        }
                        else
                        {
                            <td>No Resgitrado</td>
                        }*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiereAcuse)
                    </td>
                    <td>
                        @switch (item.EstatusSolicitud)
                    {
                        case 1: <p>Generada</p>; break;
                        case 2: <p>Recibido en Mensajería</p>; break;
                        case 3: <p>En ruta</p>; break;
                        case 4: <p>Entregado</p>; break;
                        case 5: <p>Cancelado</p>; break;
                        default:
                            break;
                    }
                    </td>
                    <td class="col-md-2">

                        <a href="@Url.Action("Details", "Solicitud", new { id = item.IdSolicitud })" data-toggle="tooltip" title="Detalles de Envío" class="btn btn-default btn-sm">
                            <span class='glyphicon glyphicon-list-alt'></span>
                        </a>
                        <button onclick="RastrearEnvio(@item.IdSolicitud)" data-toggle="tooltip" title="Rastrear de Envío" class="btn btn-default btn-sm">
                            <span class='glyphicon glyphicon-search'></span>
                        </button>
                        <button onclick="CancelarEnvio(@item.IdSolicitud)" data-toggle="tooltip" title="Cancelar Envío" class="btn btn-danger btn-sm">
                            <span class='glyphicon glyphicon-remove-sign'></span>
                        </button>
                        @if (TipoUsu == 1)
                        {
                            <button onclick="Entrega(@item.IdSolicitud)" data-toggle="tooltip" title="Reportar Entrega" class="btn btn-success btn-sm">
                                <span class='glyphicon glyphicon-ok-sign'></span>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

    <script>
    $(document).ready(function () {
        $('#SolicitudTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [[0, "desc"]]
        });
    });

    function RastrearEnvio(id) {

        $.ajax({
            url: '@Url.Action("ExisteEnvio", "Home")' + '?id=' + id + '&ctlFolio=' + '0',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Result == true) {
                    $("#OperTitle").html('');
                    $("#OperTitle").append('Información de Envío')
                    $("#OperBody").html('');
                    $("#OperBody").load('@Url.Action("Rastreo", "Solicitud")' + '?id=' + id + '&ctlFolio=' + '0');
                    $('#OperModal').modal('show');
                }
                else {
                    $("#ErrorMSG").html('');
                    $("#ErrorMSG").append('No existe el número de envío');
                    $('#ModalErrorMSG').modal('show')
                }
            },
            error: function () {
                console.log("No pudo acceder al Metodo");
            }
        });

    }

    function CancelarEnvio(id) {
        $('#ConfirmTitle').html('');
        var title = "Confirme para Cancelar Envío"
        $('#ConfirmTitle').append(title);
        $('#ConfirmBody').html('');
        var body = '<button onclick="ConfirmaCancelar(' + id + ')" type="button" class="btn btn-danger" id="modal-btn-si">Si</button>' +
                   '<button onclick="CerrarModal()" type="button" class="btn btn-primary" id="modal-btn-no">No</button>';
        $('#ConfirmBody').append(body);
        $('#ConfirmModal').modal('show');

    }

    function ConfirmaCancelar(id) {
        $.ajax({
            url: '@Url.Action("CancelaEnvio", "Solicitud")' + '/' + id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Data) {
                if (Data.Result == true) {
                    window.location = '@Url.Action("Index", "Solicitud")';
                }
                else {
                    $("#ErrorMSG").html('');
                    $("#ErrorMSG").append(Data.Mensaje);
                    $('#ConfirmModal').modal('hide');
                    $('#ModalErrorMSG').modal('show')
                }
            },
            error: function (data) {
                console.log("ocurrio un error al Eliminar");
            }
        });
    }

    function CerrarModal() {
        $('#ConfirmTitle').html('');
        $('#ConfirmBody').html('');
        $('#ConfirmModal').modal('hide');
    }

    function Entrega(id) {
        $("#OperTitle").html('');
        $("#OperTitle").append('Reportar Entrega de Envío')
        $("#OperBody").html('');
        $("#OperBody").load('@Url.Action("ReportaEntrega", "solicitud")' + '/' + id);
        $('#OperModal').modal('show');
    }

    function Redirecciona() {
        window.location = '@Url.Action("Index", "Solicitud")';
    }
    </script>
}

