@model AdminMensajeria.Models.GEN_COMENSUGER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GEN_COMENSUGER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacioComenSuger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacioComenSuger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAtencionComenSuger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAtencionComenSuger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusComenSuger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusComenSuger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_USUARIO.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_USUARIO.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdComenSuger }) |
    @Html.ActionLink("Back to List", "Index")
</p>
