@model AdminMensajeria.Models.GEN_MUNICIPIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GEN_MUNICIPIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_ESTADO.CiudadEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_ESTADO.CiudadEstado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMunicipio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
